<div class="col-md-12">

  <% if current_user.admin? %>
    <h2 class="text-center"> <%= @composition.com_title %>题目的所有作文</h2>
    <%= link_to("输入作文题", new_composition_path(@composition),class: "btn btn-default pull-right") %>
    <%= link_to("返回", admin_compositions_path,class: "btn btn-default pull-right") %>
  <% elsif current_user %>
    <h2 class="text-center"> 所有作文</h2>
  <% else %>
    <h2 class="text-center">我来批改</h2>
  <% end %>


  <table class= "table table-hover">
    <thead>
      <tr>
        <th> 年级 </th>
        <th> 作文标题 </th>
        <th> 作者 </th>
      </tr>
    </thead>

    <tbody>

      <%= render :partial => "writing_item", :collection => @writings, :as => :writing %>

    </tbody>
  </table>



</div>
