<div class="col-md-10">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2> 修改我的作文 </h2>
    </div>
    <hr>
    <%= render "form" %>
  </div>
</div>
