
  <tr>
    <td> <%= correction.writing.composition.grade %></td>
    <td> <%= correction.writing.composition.com_title %> </td>
    <td> <%= link_to(correction.writing.user.email, account_correction_path(correction)) %> </td>

  </tr>
