<div class="pigai">
  <div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h2 class="text-center">我所做的批改</h2>
          </div>
          <table class= "table table-hover">
            <thead>
              <tr>
                <th> 年级 </th>
                <th> 作文标题 </th>
                <th> 作文作者 </th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => "corrections_item", :collection => @corrections, :as => :correction %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
