<tr>
  <% writings = composition.writings %>
  <% @@flag_composition_used = 0 %>
  <!-- 不显示已经被自己写过的文章， 因为这些作文不需要自己批改   -->
  <% writings.each do |writing| %>
    <% if writing.user == current_user %>
      <% @@flag_composition_used = 1 %>
      <% break %>
    <% end %>
  <% end %>
  <% if @@flag_composition_used == 0 %>
    <td> <%= composition.grade %></td>
    <td> <%= link_to(composition.com_title, composition_path(composition)) %> </td>
  <% end %>


  <% if current_user && current_user == composition.user %>
  <td>
    <%= link_to("Edit", edit_composition_path(composition),class: "btn btn-sm btn-default") %>
    <%= link_to("Delete", composition_path(composition), class:"btn btn-sm btn-default", method: :delete, data:{confirm:"Are you sure?"}) %>
  </td>
  <% end %>

  </tr>
