<div class="col-md-12">

<h1> 我来批改</h1>

<%= link_to("导入作文题", new_composition_path(@composition),class: "btn btn-default pull-right") %>

<table class= "table table-hover">
  <thead>
    <tr>
      <th> 年级 </th>
      <th> 作文标题 </th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => "com_item", :collection => @compositions, :as => :composition %>

  </tbody>
</table>
</div>
