
  <tr>
    <td> <%= composition.grade %></td>
    <td> <%= link_to(composition.com_title, composition_path(composition)) %> </td>


    <td>
      <% if current_user && current_user == composition.user %>
        <%= link_to("Edit", edit_composition_path(composition),class: "btn btn-sm btn-default") %>
        <%= link_to("Delete", composition_path(composition), class:"btn btn-sm btn-default", method: :delete, data:{confirm:"Are you sure?"}) %>
      <% end %>
    </td>


  </tr>
