

<div class="jumbotron">
  <h1 class="title">51Pi</h1>
  <p class="slogan">51Pi 是一个通过批改同学作文来
  <br>
  快速提高写作能力的网站！
  <br>
  <br>
  批别人的作文，成就自己！
  </p>
  <p class="lead">
    <% if current_user && !current_user.admin? %>
      <a class="active"> <%= link_to("我来批改", wrpigai_writings_path, class:"btn btn-lg btn-danger" ) %> </a>
    <% else %>
      <a class="active"> <%= link_to("我来批改", new_user_session_path, class:"btn btn-lg btn-danger" ) %> </a>
    <% end %>
  </p>
</div>
